@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/Swirl.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #181e29;
}

label {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 80px;
  color: #144ee3;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  /* line-height: 80px; */
  margin: 0 5px;
}

/* .navparent {
  display: flex;
  justify-content: flex-end;
} */

.login {
  /* padding: 0.8em; */
  background-color: #353c4a;
  border: 0.2px solid #c9ced6;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  width: 140px;
  text-align: center;
}

.signup {
  padding: 3px;
  background-color: #144ee3;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  width: 180px;
  text-align: center;
}

/* ARTICLE SECTION */
.short {
  display: flex;
  justify-content: center;
  color: #eb568e;
  margin-top: 1em;
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.para {
  color: #ffff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2em;
}

/* ENTER THE LINK BUTTON */
.urlbtn {
  display: flex;
  justify-content: center;
  padding: 0.4em;
  background-color: #353c4a;
  color: #ffff;
  border: 1px solid #c9ced6;
  border-radius: 50px;
  /* text-align: left;
  background-color: #353c4a;
  color: white;
  font-size: 1rem;
  width: 32%; */
}

.innerbtn {
  padding: 0.6em;
  background-color: #144ee3;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  width: 145px;
  text-align: center;
}
