@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/Swirl.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #181e29;
}

label {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 80px;
  padding: 0 100px;
  background: linear-gradient(to right, #eb568e, #eb568e, #144ee3, #144ee3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navmain {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.ulmain {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

.login {
  padding: 0.8em;
  background-color: #353c4a;
  border: 0.2px solid #c9ced6;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  width: 120px;
  text-align: center;
}

.loginicon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: #144ee3;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  width: 180px;
}

/* ARTICLE SECTION */
.short {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 3rem;
  margin-bottom: 0.5em;
  background: linear-gradient(
    to right,
    #144ee3,
    #eb568e,
    #eb568e,
    #144ee3,
    #a353aa,
    #144ee3,
    #eb568e
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.para {
  color: #ffff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2em;
}

/* THE LINK BUTTON */
.urlbtn {
  display: flex;
  justify-content: center;
  padding: 0.4em;
  background-color: #353c4a;
  color: #ffff;
  border: 1px solid #c9ced6;
  border-radius: 50px;
}

.innerbtn {
  padding: 0.6em;
  background-color: #144ee3;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  width: 145px;
  text-align: center;
}

/* MEDIA  */
@media screen and (min-width: 320px) {
  label {
    font-size: 1rem;
    color: aqua;
  }
}
