@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../src/assets/Swirl.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #181e29;
}
